#body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#container{
    margin:0px;
    padding:0px;
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    gap: 0px;
}

.gridbox{
    margin: -1px 0 0 -1px;
    padding:0px;
    width:30px;
    height: auto;
    flex: 1 1 auto;
    border:1px solid black;
}

/* .gridbox:hover{
    background-color: rgba(189, 188, 188, 0.671);
    transition: background-color 0.3 ease;
} */


.divider{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 0;
}