#container{
    margin:0px;
    padding:0px;
    /* border: 1px solid black; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gridbox{
    margin: -1px 0 0 -1px;
    padding:0px;
    width:50px;
    height:50px;
    flex: 0 0 auto;
    border:1px solid black;
}

.divider{
    width: 100%;
    height: 0;
}